Hello #{@ticket.first_name}
\===============================================

You have successfully register ticket #{@ticket.unique_reference}.

See your ticket on: #{@ticket.url}.

Thanks for joining and have a great day!