Hello #{@ticket.first_name}
\===============================================

Your ticket #{@ticket.unique_reference} has been answered

See your ticket on: #{@ticket.url}.

Thanks for joining and have a great day!