<h1>Parser#new</h1>
<form action="/parser/result" method="post">
  First name:<br>
  <input type="text" name="id" value="42300035">
  <br>
  Last name:<br>
  <input type="text" name="text" value="box">
  <br><br>
  <input type="submit" value="Submit">
</form>