<table>
<tr>
<td>
<form action="/issue_tracking/staff/reply_search/search_reference">
  <input type="text" name="ticket_id" value="">
  <input type="submit" value="Search references">
</form>
</td>
<td>
<form action="/issue_tracking/staff/reply_search/search_subject" method="POST">
  <input type="text" name="subject_text" value="">
  <input type="submit" value="subject">
</form>
</td>
<td>
<form action="/issue_tracking/staff/reply_search/search_words"  method="POST">
  <input type="text" name="words" value="">
  <input type="submit" value="Search references">
</form>
</td>
</tr>
</table>